<div class="pjjk-front-cover">
  <div class="uk-container ">
    <div uk-grid>
      <div class="uk-panel uk-width-2-3@m">
        <div class="uk-cover-container uk-position-relative uk-height-medium uk-box-shadow-small pjjk-panel">
          <div class="uk-background">
            <img src="images/kumite.jpg" alt="" class="pjjk-panel uk-box-shadow-small" uk-cover>
            <div class="uk-overlay pjjk-cover-overlay uk-position-bottom">
              <h3>Träna - Tävla - Motionera</h3>
              <p>
                Välkommen till Piteå Ju-jutsuklubb – Föreningen där du får allsidig och rolig träning för hela kroppen. Här får du individuell träning i grupp och får utvecklas i din egen takt, med den inriktning du själv väljer.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-panel uk-width-1-3@m uk-visible@m">
        <div class="uk-panel pjjk-panel uk-card uk-card-small uk-card-default uk-card-body uk-box-shadow-small uk-height-medium">
            <h3 class="uk-card-title">Intresserad?</h3>
            <hr>
            <p>
              Oavsett om du är barn eller vuxen så är du välkommen till oss att prova på helt utan krav om medlemskap.
            </p>
            <p>
              Vi tillämpar löpande intag under hela terminen, så sluta tveka och kolla <a href="/tider/" class="uk-link">våra tider</a> när nästa pass går så att du kan hoppa på!
            </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="uk-container uk-hidden@m pjjk-mobile-bottom-margin">
  <div uk-grid>
    <div class="uk-panel uk-width-1-1 ">
      <div class="uk-panel pjjk-panel uk-card uk-card-small uk-card-default uk-card-body uk-box-shadow-small uk-height-medium">
          <h3 class="uk-card-title">Intresserad?</h3>
          <hr>
          <p>
            Oavsett om du är barn eller vuxen så är du välkommen till oss att prova på helt utan krav om medlemskap.
          </p>
          <p>
            Vi tillämpar löpande intag under hela terminen, så sluta tveka och kolla <a href="/tider/" class="uk-link">våra tider</a> när nästa pass går så att du kan hoppa på!
          </p>
      </div>
    </div>
  </div>
</div>
