<div class="uk-container uk-clearfix">
  <div uk-grid uk-height-match="target: > div > .uk-card > .pjjk-card-height">
    <div class="uk-width-1-1 uk-width-1-3@m">
      <div class="uk-panel pjjk-panel uk-card uk-card-small uk-card-default" id="static-map">
        <div class="pjjk-card-height">
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">Hitta oss!</h3>
            <hr>
            <p><span uk-icon="icon: location"></span> Norrmalmia Sporthall - E-hallen
            </p>
          </div>
          <div class="uk-card-media-bottom uk-text-center">
            <img width="400" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyBq4ClYROuIXE939H7QHui8SrOiTXPZ2eg&center=65.318991,21.488216&size=400x200&zoom=16&scale=1&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xf74444%7Clabel:%7CKyrkbrogatan+19,+941+31+Piteå" />
          </div>
        </div>
          <div class="uk-card-footer uk-text-right">
            <a href="" class="uk-button uk-button-text">Mer information</a>
          </div>
      </div>
    </div>
    <div class="uk-width-1-1 uk-width-1-3@m">
      <div class="uk-panel pjjk-panel uk-card uk-card-small uk-card-default">
        <div class="pjjk-card-height">
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">Vad är jujutsu?</h3>
            <hr>
            <p>
               Jujutsu är en kampsport som innehåller slag och spark, kast och nedtagningar och markkamp med lås.
            </p>
            <p>
              All träning och alla tekniker som tränas är anpassade för både självförsvar och för tävling.
            </p>
          </div>
        </div>
        <div class="uk-card-footer uk-text-right">
          <a href="" class="uk-button uk-button-text">Läs mer</a>
        </div>
      </div>
    </div>
    <div class="uk-width-1-1 uk-width-1-3@m">
      <div class="uk-panel pjjk-panel uk-card uk-card-small uk-card-default">
        <div class="pjjk-card-height">
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center pjjk-icon-text">Uppdateringar</h3>
            <hr>
            <div id="pjjk-facebook">
            </div>
          </div>
        </div>
        <div class="uk-card-footer uk-text-right">
          <a href="https://facebook.com/PiteaJujutsu" class="uk-button uk-button-text">Mer på <span uk-icon="icon:facebook"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
